<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Schuldbetrag</th>
                <th>Zins</th>
                <th>Zinsrate</th>
            </tr>
        </thead>
        <tbody>
            <% persons.forEach(person => { %>
                <tr>
                    <td><%= person.id %></td>
                    <td><%= person.name %></td>
                    <td><%= person.schuldbetrag %></td>
                    <td><%= person.zins %></td>
                    <td><%= person.zinsrate %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
